<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mailbox" value="eFajXY0sBYoBhOiWC9eXER1utuurw0Cq9szCtQu5OTs=" />
		<add key="password" value="Fsah6qfxjwZXHWf2xKljqp1zrzZDi3EK" />
		<add key="sqlite_strConn" value="Data Source=db//Certificate.db;Version=3;" />		
	</appSettings>
</configuration>