<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
			<section name="ProductConfigSection" type="System.Configuration.NameValueSectionHandler" />
			<section name="RecipientConfigSection" type="System.Configuration.NameValueSectionHandler" />
		</configSections>	
	<ProductConfigSection>
		<add key="光伏并网产品线"   value="1-3.3KW-G3,1-3K,1.1K-4KTL2-G3,3-5K,3-6KTLM-G3,3-6KW-G2,3-12K-G3,3-15KTLX-G3-PRO,
			                               4-12KW,6KW,7.5KW,7.5KTLM-G3-BR,7-10.5KTLM-G3,10-15KW-G2,10-20K,15-24K-G3,15-25K-G3-LV,
										   15-30K-G3P,17-25K-G3-PRO,20-33KW-G2,25-50K-G3,30-40KW,30K-LV,40-75KTLX-G4-LV,50-70KW,
										   60-80KTLX-G3,60-80KTLX-G3(增加60KX2),75-136KTL-PRO,80-136KTL,100-125KTLX-G4,225-255K,225KTLX-HV,250-350KTLX0" />
		<add key="电池平台"         value="电池GTX2500,电池GTX3000-H,电池GTX5000,电池GTX5000S,电池GTX5000-PRO" />
		<add key="分布式光储产品线" value="BTS 5K,BTS 5K-KIT,BTS E5-20DS5,HYD 3-6K-EP（改ID）,HYD 3-6K-EP,HYD 3-6K-EP(C版本),HYD 3-6K-EP(C版本+提升电流),
			                               HYD 3-6K-ES,HYD 5-20KTL-3PH,HYD 5-20KTL-3PH(C版本),HYD 5-20KTL-3PH(C版本+提升电流),HYD 5-20KTL-3PH(改ID),
										   ME 5-20K-3PH,ME 3000SP,ESI 3-6K-S1,ESI 3-6K-S1+BTS 5K,充电桩(EV11K-AC-01),充电桩(EV11K-AC-02),充电桩(EV7K-AC-02)" />
		<add key="微逆产品线"       value="MR 600-1000,MR 1600-2400,BT5000A" />
		<add key="集中式储能"       value="EBI 1725K+215K,工商业储能柜和电池柜及8S集装箱电池簇,EBI 125-215K-R,EBI 215-250K,EBI 1725K,S1G-LP3440+ESS-344KLA,S1G-LP430" />
		<add key="数字解决方案部"   value="CH1000A-D,PSC100,ACCB150" />
	</ProductConfigSection>
	<RecipientConfigSection>
		<!--各产品线收件人邮箱地址(多个时用“,”区分，不能为空)-->
		<add key="光伏并网产品线"   value="zhuyongping@sofarsolar.com,xuyong@sofarsolar.com,dengmiao@sofarsolar.com,zhoujie@sofarsolar.com,
			                               lilongxiang@sofarsolar.com,liuxiaolong@sofarsolar.com,zhangpan@sofarsolar.com,xiaorong@sofarsolar.com,
		                                   zhaoyanxia@sofarsolar.com,shudan@sofarsolar.com" />
		<add key="电池平台"         value="lizhirun@sofarsolar.com,zhongcai@sofarsolar.com,zhouziying@sofarsolar.com,xiaorong@sofarsolar.com,
			                               zhaoyanxia@sofarsolar.com,yanlei@sofarsolar.com" />
		<add key="分布式光储产品线" value="zouxiangyang@sofarsolar.com,zhouzhengwu@sofarsolar.com,caojunfeng@sofarsolar.com,liuqiang@sofarsolar.com,
			                               lanmin@sofarsolar.com,songlei@sofarsolar.com,liqiqi@sofarsolar.com,xiaorong@sofarsolar.com,zhaoyanxia@sofarsolar.com,
										   yanlei@sofarsolar.com,chenjiang@sofarsolar.com,fangrui@sofarsolar.com" />
		<add key="微逆产品线"       value="dongyw@sofarsolar.com,liyashun@sofarsolar.com,guoyuming@sofarsolar.com,shechang@sofarsolar.com,lishucheng@sofarsolar.com,
                                           zhaohuadong@sofarsolar.com,shixiaojuan@sofarsolar.com,xiaorong@sofarsolar.com,zhaoyanxia@sofarsolar.com,yanlei@sofarsolar.com" />
		<add key="集中式储能"       value="wuzhipeng@sofarsolar.com,guanwei@sofarsolar.com,chentingxia@sofarsolar.com,yangdongdong@sofarsolar.com,huguangcheng@sofarsolar.com,luli@sofarsolar.com,
			                               liupeng@sofarsolar.com,zhanghuan@sofarsolar.com,lianghaibo@sofarsolar.com" />
		<add key="数字解决方案部"   value="fangbin@sofarsolar.com,liuwenqiang@sofarsolar.com,zhangjinghong@sofarsolar.com,chenxihu@sofarsolar.com,yejianhua@sofarsolar.com,xiaorong@sofarsolar.com,
			                               zhaoyanxia@sofarsolar.com,shudan@sofarsolar.com,yanlei@sofarsolar.com" />
	</RecipientConfigSection>
	<appSettings>
		<!--发件人邮箱地址(目前采用监控平台专用邮箱，已加密)-->
		<add key="mailbox"   value="eFajXY0sBYoBhOiWC9eXER1utuurw0Cq9szCtQu5OTs=" />
		<!--发件人邮箱密码(目前采用监控平台专用邮箱，已加密)-->
		<add key="password"  value="Fsah6qfxjwZXHWf2xKljqp1zrzZDi3EK" />
		<!--发件人邮箱地址密码是否加密(YES：加密，其他不加密)-->
		<add key="IsEncrypt" value="YES" />
		<!--本地sqlite数据库连接字符串-->
		<add key="sqlite_strConn"       value="Data Source=db//Certificate.db;Version=3;" />	 
		<!--抄送邮箱地址(多个时用“,”区分；无则填"",不进行抄送)-->
		<add key="Cc_EmailAddress"      value="wanghui@sofarsolar.com,cengtongnian@sofarsolar.com,lanpeidie@sofarsolar.com" />
		<!--密送邮箱地址(多个时用“,”区分；无则填"",不进行密送)-->
		<add key="Bcc_EmailAddress"     value="" />
		<!--是否发送表格附件(YES：发送，其他不发送)-->
		<add key="IsAddTableAttachment" value="YES" />
		<!--项目目录下的表格附件名称(启用发送表格附件情况下，不可为空)-->
		<add key="TableAttachmentName"  value="产品认证统计表_更新.xlsx" />	
	</appSettings>
</configuration>
