<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--发件人邮箱地址(目前采用监控平台专用邮箱，已加密)-->
		<add key="mailbox" value="eFajXY0sBYoBhOiWC9eXER1utuurw0Cq9szCtQu5OTs=" />
		<!--发件人邮箱密码(目前采用监控平台专用邮箱，已加密)-->
		<add key="password" value="Fsah6qfxjwZXHWf2xKljqp1zrzZDi3EK" />
		<!--发件人邮箱地址密码是否加密(YES：加密，其他不加密)-->
		<add key="IsEncrypt" value="YES" />
		<!--本地sqlite数据库连接字符串-->
		<add key="sqlite_strConn" value="Data Source=db//Certificate.db;Version=3;" />
		<!--收件人邮箱地址(多个时用“,”区分)-->
		<add key="RecipientEmailAddress" value="wanghui@sofarsolar.com" />
		<!--抄送邮箱地址(多个时用“,”区分；无则填"",不进行抄送)-->
		<add key="Cc_EmailAddress" value="cengtongnian@sofarsolar.com,lanpeidie@sofarsolar.com" />
		<!--密送邮箱地址(多个时用“,”区分；无则填"",不进行密送)-->
		<add key="Bcc_EmailAddress" value="" />
		<!--是否发送表格附件(YES：发送，其他不发送)-->
		<add key="IsAddTableAttachment" value="YES" />
		<!--项目目录下的表格附件名称(启用发送表格附件情况下，不可为空)-->
		<add key="TableAttachmentName" value="产品认证统计表_更新.xlsx" />	
	</appSettings>
</configuration>